.product{
    margin-top: 2650px;
    position: absolute;
    background-color: rgba(241, 190, 93, 0.5);
    height: 200px;
    width: 100%;
    }
    .product__navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    width: 100%;
    
    background-color: white;
    }
    .product__navbar>p{
    font-size:20px;
    color: #333;
    display: inline-block;
    margin: 5px;
    width: 100%;
    clear: both;
    white-space: nowrap;
    
    
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .product__navbar::-webkit-scrollbar {
    display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .product__navbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }
    .product__items{
    margin: 10px;
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    
    border-radius: 5px;
    
    
    }
    .product__items__img{
    
    margin: 10px;
    color: tomato;
    text-align: center;
    
    font-size: 14px;
    
    
    }
    .product__items__img>img{
      width: 100%;
      
       object-fit: contain; 
        }
    .product__items__country{
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: -10px;
    }
    .product__items__country>p{
        width: 20px;
        height: 20px;
        margin: 10px;
        color: orange;
          }
    .product__items__country>img{
      width: 20px;
      height: 20px;
      margin: 10px;
        }
    .product__items__desc>p{
    
        margin: 10px;
        margin-top: -20px;
        overflow:hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow:ellipsis;
        -webkit-box-orient: vertical;
        white-space: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        text-align: left;
        
        font-size: 14px;
    }
    .product__items__price{
    display: flex;
    align-items: center;
    margin-top: -20px;
    }
    .product__items__1{
        margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .product__items__2{
    color: orange;
        margin: 10px;
    }
    .product__items__1>s{
    color: red;
    }
    .product__items__1>p{
    color: green;
    font-weight: 800;
    font-size: 16px;
    
    }
    .product__items__main{
    align-items: center;
    display: flex;
    
    
    }